.featured{
    margin: 0;
    margin-top: -170px;
}
.featured-body{
    background-color: #F2F2F2;
    margin: 0;
    width: 100%;
    padding-bottom: 40PX;
    margin-bottom: -4px;
}
.featured-body h1{
    padding: 10px;
    margin: -4px;
    color: #6B63FF;
    font-size: 40px;
}

.tiles{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;
}
.tile{
    width: 200px;
    height: 200px;
    background-color: #C3C1FF;
    border-radius: 20px;
}
.tile img{
    width: 60px;
    margin: 35px auto;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6B63FF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6B63FF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switcher{
      border: solid 1px #DCDADB;
      border-radius: 20px;
      width: 400px;
      padding-bottom: 20px;
      margin: 0 auto;
  }
  .featured-body section{
      margin: 40px auto;
  }
  /* Version 2 */
  .featured-body2{
    background-color: #D2D0FF;
    margin: 0;
    width: 100%;
    padding-bottom: 40PX;
    margin-bottom: -4px;
}
.featured-body2 h1{
    padding: 10px;
    margin: -4px;
    color: #6B63FF;
    font-size: 40px;
}

.tiles2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: 0 auto;
}
.tile2{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #514C9A;
    display: flex;
    align-items: center;
    justify-content: center;

}
.tile2 img{
    width: 60px;
    margin: 35px auto;
}
.switcher2{
    background-color: #514C9A;
    padding-top:10px;
      border-radius: 20px;
      width: 400px;
      padding-bottom: 20px;
      margin: 0 auto;
}
.switcher2 h3{
    color: white;
}