.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 20;
}
.nav button{
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
}